/vendor
/node_modules
/.idea
/.vscode
/.phpunit.result.cache
/.phpunit.cache
composer.lock
.phpunit.cache
.phpunit.result.cache
.phpcs-cache
*.log
coverage/
.php_cs.cache
.DS_Store
Thumbs.db
.env
.php_cs
.php_cs.dist
.php_cs.cache
.phpcs-cache
.phpcs
.phpcs.xml
phpcs.xml
phpunit.xml
*.cache
*.sublime-*
*.sublime-project
*.sublime-workspace
*.sublime-settings
*.sublime-session
*.sublime-*
